[submodule "token"]
	path = token
	url = https://github.com/fedor-malyshkin/story_line2_token.git

[submodule "geo"]
	path = geo
	url = https://github.com/fedor-malyshkin/story_line2_geo.git
[submodule "glr_parser"]
	path = glr_parser
	url = https://github.com/fedor-malyshkin/story_line2_glr_parser.git
[submodule "glr_parser_debugger"]
	path = glr_parser_debugger
	url = https://github.com/fedor-malyshkin/story_line2_glr_parser_debugger.git
[submodule "glr_parser_testing"]
	path = glr_parser_testing
	url = https://github.com/fedor-malyshkin/story_line2_glr_parser_testing.git
[submodule "morph"]
	path = morph
	url = https://github.com/fedor-malyshkin/story_line2_morph.git
[submodule "crawler"]
	path = crawler
	url = https://github.com/fedor-malyshkin/story_line2_crawler.git
[submodule "client-android"]
	path = client-android
	url = https://github.com/fedor-malyshkin/story_line2_client-android.git
[submodule "analyser"]
	path = analyser
	url = https://github.com/fedor-malyshkin/story_line2_analyser.git
[submodule "server_web"]
	path = server_web
	url = https://github.com/fedor-malyshkin/story_line2_server_web.git
[submodule "server_storm"]
	path = server_storm
	url = https://github.com/fedor-malyshkin/story_line2_server_storm.git
